azure-functions
fastapi
fastapi-pagination
pyodbc
pandas
memory-profiler
azure-identity
aiofiles
azure.storage.blob
pyarrow
pyhton-dotenv
sqlalchemy
sqlalchemy2-stubs
pytest
psycopg2-binary
docker
pytest
pydantic
